$pagination-color: rgb(233, 233, 233);
$pagination-bg: rgb(49, 31, 31);
$pagination-active-color: rgb(0, 0, 0);
$pagination-active-bg: rgb(255, 255, 255);
$pagination-active-border-color: rgb(255, 255, 255);

$table-color:rgb(136, 122, 122);
$table-bg: transparent;

$font-size-lg: 3.0;



@import 'D:/Sharaga/7_Sem/UIUX/UXUI-master/node_modules/bootstrap/scss/bootstrap.scss';

$primary-text: rgb(253, 249, 249);
$secondary-text: rgb(136, 122, 122);
$primary-background:rgb(0, 0, 0);
$secondary-background: rgb(49, 31, 31);


* {
    line-height: 1.33333333333;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

body {
    background-color: $primary-background;
}


.head-text{
    color: rgb(255, 255, 255);
}

.footer {
    background-color: $primary-background;
}

.header {
    background-color: $primary-background;
}

.card-title {
    color: $primary-text;
}

.card-subtitle{
    color: $primary-text;
}

.box-title{
    color: $primary-text;
}

.card-body-text-detail{
    color: $secondary-text;
}

.card-item {
    @extend .card;
    box-sizing: border-box;
    border: 0px solid transparent;
    z-index: 15;
    overflow: hidden;
    border-radius: 0px;
    max-height: 40rem;
}

.text-body-secondary{
    color: rgb(255, 255, 255) !important;
}

.card-item-body {
    @extend .card-body;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: $secondary-background;
    min-height: 0;
}

.card-item-title {
    @extend .card-title;
}

.card-item-text {
    @extend .card-text;
    color: $secondary-text;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-item-img, .card-item-img-top {
    @extend .card-img, .card-img-top;
    border-radius: 0px;
}

.card-detail {
    @extend .card;
    background-color: transparent;
    border: none;
}

.igor-pidor {
    color:rgb(136, 122, 122);
}

@include media-breakpoint-down(lg) {
    .card-item-text {
        font-size: 1rem;
    }

    .card-item-title {
        font-size: 1.5rem;
    }
}

.nav-tabs .nav-link.active {
    border-color: transparent;
} 

.nav-tabs {
    border-width: 0px;
}

.no-decoration {
    text-decoration: none;
    cursor: pointer;
}

.pagination {
	width: fit-content;
	margin: auto;
	padding-top: 100px;
}

.card-detail {
    @extend .card;
}

.container-detail {
    @extend .container;
    background-color: $secondary-background;
}

.card-body-detail {
    @extend .card-body;
    padding: 1%;
}

.row-detail {
    @extend .row;
    padding-top: 1%;
}

@include media-breakpoint-down(xl) {
    .row-detail {
        display: block;
    }
}